#footer{
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background: #000;
}

.table td{
  text-align: center;
}
.table th{
  text-align: center;
}

#body{
 background-image: url('/images/CapsuleSideStarLight.png');
  width: 100%;
  hight: auto;
  background-size: cover;

  color: black;
  font-size: 15px;
}


#navbar{
  background-color: #000;
  color: #fff;
  margin-left: 100px;
}

#lpappwell{
  margin: auto -100px auto -100px;
  width: auto;
}
#piwell{
  margin: auto 200px auto 200px;
}
#mineralwell{
  margin: auto 200px auto 200px;
}
#mineraltextwell{
  margin: auto 200px 25px 200px;
}
#pitextwell{
  margin: auto 200px 25px 200px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #cccccc; // Choose your own color here
 }
